/* 番茄主题  #ff6347 */
/* 红色主题  #e0363f */
/* 蓝色主题  #4285f4 */
/* 绿色主题  #42b983 */
/* 悬浮弹出层提示框背景色和文字色 */
.checkbox-group label {
  display: inline-block;
  padding: 0px 5px;
  cursor: pointer;
}
.checkbox-group div.ico {
  float: left;
  clear: both;
}
.checkbox-group span {
  margin-left: 5px;
}
.checkbox-group input[type="checkbox"] {
  display: none;
}
.checkbox-group input[type="checkbox"]:checked + div {
  background: url(../images/checkbox-active.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.checkbox-group input[type="checkbox"]:not(:checked) + div {
  background: url(../images/checkbox-default.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.checkbox-group input[type="checkbox"]:checked ~ span {
  color: #b01d2d;
}
.checkbox-group input[type="checkbox"]:not(:checked) ~ span {
  color: #000000;
}
.checkbox-group .checkbox-default {
  background: url(../images/checkbox-default.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.checkbox-group .checkbox-active {
  background: url(../images/checkbox-active.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.checkbox-group .checkbox-disable {
  background: url(../images/checkbox-disable.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.checkbox-group-default label {
  display: inline-block;
  padding: 0px 5px;
  cursor: pointer;
}
.radio-group label {
  display: inline-block;
  padding: 0px 5px;
  cursor: pointer;
}
.radio-group div.ico {
  float: left;
  clear: both;
}
.radio-group span {
  margin-left: 5px;
}
.radio-group input[type="radio"] {
  display: none;
}
.radio-group input[type="radio"]:checked + div {
  background: url(../images/radio-active.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.radio-group input[type="radio"]:not(:checked) + div {
  background: url(../images/radio-default.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.radio-group input[type="radio"]:checked ~ span {
  color: #b01d2d;
}
.radio-group input[type="radio"]:not(:checked) ~ span {
  color: #000000;
}
.radio-group .radio-default {
  background: url(../images/radio-default.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.radio-group .radio-active {
  background: url(../images/radio-active.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.radio-group .radio-disable {
  background: url(../images/radio-disable.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.radio-group-default label {
  display: inline-block;
  padding: 0px 5px;
  cursor: pointer;
}
.input-default {
  width: 250px;
  height: 34px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 10px;
}
.select-default {
  width: 250px;
  height: 34px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 10px;
  padding-right: 0px;
}
.input-primary {
  width: 250px;
  height: 34px;
  background: #FDF6F7;
  border: 1px solid #E0302F;
  border-radius: 3px;
  padding: 0px 10px;
}
.input-default {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}
.input-default[disabled],
.input-default[readonly] {
  background-color: #eee;
  opacity: 1;
  cursor: not-allowed;
}
.select-default {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}
.select-default[disabled],
.select-default[readonly] {
  background-color: #eee;
  opacity: 1;
  cursor: not-allowed;
}
.input-h28 {
  height: 28px;
}
.input-h29 {
  height: 29px;
}
.input-h30 {
  height: 30px;
}
.input-h31 {
  height: 31px;
}
.input-h32 {
  height: 32px;
}
.input-h33 {
  height: 33px;
}
.input-h34 {
  height: 34px;
}
.input-h35 {
  height: 35px;
}
.input-h36 {
  height: 36px;
}
.input-h37 {
  height: 37px;
}
.input-h38 {
  height: 38px;
}
.input-h39 {
  height: 39px;
}
.input-h40 {
  height: 40px;
}
.input-h41 {
  height: 41px;
}
.input-h42 {
  height: 42px;
}
.input-h43 {
  height: 43px;
}
.input-h44 {
  height: 44px;
}
.input-h45 {
  height: 45px;
}
.input-h46 {
  height: 46px;
}
.input-h47 {
  height: 47px;
}
.input-h48 {
  height: 48px;
}
.input-h49 {
  height: 49px;
}
.input-h50 {
  height: 50px;
}
.input-time {
  background: url("../images/time-ico.png") no-repeat center right 5px;
}
.search-group .search-button {
  border-radius: 0;
  padding: 6px 10px;
  padding-top: 6px;
  font-size: 14px;
}
.search-group .search-button-ico {
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
  padding: 7px;
  color: #ccc;
  cursor: pointer;
}
.search-group .search-right {
  border-radius: 0;
  float: right;
  padding: 1px 10px;
}
.search-group .border-left {
  border-radius: 0;
  border-left: 0px;
}
.search-group .border-right {
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.select-group {
  width: 300px;
  display: inline-block;
  padding: 0px;
}
.select-group .input {
  width: auto;
  height: 33px;
  margin-right: 43px;
  position: relative;
}
.select-group input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
  border: 1px solid #ccc;
  border-right: 0px;
  height: 30px;
  float: left;
  position: relative;
  padding: 0px 5px;
}
.select-group button {
  width: 36px;
  border: 1px solid #ccc;
  height: 32px;
  display: inline-block;
  background: #f6f6f6;
  position: absolute;
  right: -45px;
  cursor: pointer;
}
.select-group ul {
  display: none;
  overflow: hidden;
}
.select-group-open {
  width: 300px;
  display: inline-block;
  padding: 0px;
}
.select-group-open .input {
  width: auto;
  height: 34px;
  margin-right: 36px;
  position: relative;
}
.select-group-open .input input[disabled],
.select-group-open .select-default[readonly] {
  background-color: #eee;
  opacity: 1;
  cursor: not-allowed;
}
.select-group-open input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 100%;
  border: 1px solid #ccc;
  border-right: 0px;
  height: 34px;
  float: left;
  position: relative;
  padding: 0px 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.select-group-open button {
  width: 36px;
  border: 1px solid #ccc;
  height: 34px;
  display: inline-block;
  background: #f6f6f6;
  position: absolute;
  right: -36px;
  cursor: pointer;
}
.select-group-open ul.ul {
  border: 1px solid #b9b9b9;
  position: relative;
  z-index: 999;
  border-top: 0px;
  list-style: none;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px #ccc;
  margin: 0px;
  margin-top: 0px;
  width: 100%;
  padding: 0px;
}
.select-group-open li.second {
  height: auto;
}
.select-group-open li.second li {
  display: block;
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 0px 10px;
  margin: 0px;
  cursor: pointer;
  color: #333;
  font-size: 16px;
}
.select-group-open li.second li:hover {
  background: #ff6347;
  color: #fff;
}
.select-group-open li.second ul {
  max-height: 300px;
  overflow: auto;
}
.select-group-open li.first {
  padding: 10px;
  background: #efefef;
  display: block;
  list-style: none;
  height: 53px;
  line-height: 30px;
  margin: 0px;
  border-bottom: 1px solid #ddd;
}
.select-group-open li.first input {
  width: 93%;
  border: 1px solid #ddd;
  background: #fff;
}
