@primary:#4fb845;
@success:#5CB85C;
@info:#5BC0DE;
@warning:#F0AD4E;
@danger:#D9534F;
@default:#f6f6f6;

//图标颜色
@color_one:#9c27b0;
@color_two:#dc5801;
@color_three:#0072c6;
@color_four:#68217a;
@color_five:#1c2d6f;

/* 悬浮弹出层提示框背景色和文字色 */
@bg-tooltip:#333;
@color-tooltip:#fff;