
*{box-sizing: border-box;}
  body,html{height: 100%;}
  /* body{background:#ECF0F1;} */
  body{background:#fff;}
  #side{background: #666;}
  #side>li{ line-height: 50px; text-indent: 10px;border-bottom: 0px solid #272D2D;}

  /* #side li ul{ text-indent: 34px;} */
  .table-data{ border: 1px solid #DDDDDD;border-bottom: 0px}
  .table-data .table-group th{ border-top: 0px solid #DDDDDD; color: #666;background: #f6f6f6;}
  .table-data .table-group td{ border-bottom: 1px solid #DDDDDD;}
#side li ul{
 padding-left: 20px;
}
#side li ul::before{

    content: '';
      position: absolute;
      top: 0px;
      left: 17px;
      margin-top: -.5px;
      width: 3px;
      height: 100%;
      border-radius: 5px;
      background-color: #1C1E1D;
      opacity: .5; 
      transition: all 0.2s ease-in-out;
  }
  #side li ul li::before{
    content: '';
      position: absolute;
      top: 10px;
      left: -11px;
      margin-top: -.5px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      //background-color: #1C1E1D;
      background-color: #1C1E1D;
      transition: all 0.2s ease-in-out;
  }
    #side li ul li.active::before{
    content: '';
      position: absolute;
      top: 12px;
      left: -9px;
      margin-top: -.5px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      z-index: 99;
      background-color: #adb5bd;
      transition: all 0.2s ease-in-out;
  }

  #side li ul li::after{
    content: '';
    position: absolute;
    top: 12px;
    left: -9px;
    margin-top: -.5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #585c5d;
    transition: all 0.2s ease-in-out;
    }

 =================================================  */
.breadcrumb-styled {
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 0;
  background-color: transparent;
}
.breadcrumb-styled .fa {
  font-size: 14px;
}
.breadcrumb-styled li {
  float: left;
}
.breadcrumb-styled li + li:before {
  display: none;
}
.breadcrumb-styled li a {
  display: block;
  font-weight: 600;
  color: #999;
  background: #e1e1e1;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 7px 0 5px;
  text-align: center;
  margin-right: 23px;
}
.breadcrumb-styled li:nth-child(even) a {
  background-color: #e1e1e1;
}
.breadcrumb-styled li:nth-child(even) a:before {
  border-color: #e1e1e1;
  border-left-color: transparent;
}
.breadcrumb-styled li:nth-child(even) a:after {
  border-left-color: #e1e1e1;
}
.breadcrumb-styled li:first-child a {
  padding-left: 15px;
  border-radius: 4px 0 0 4px;
}
.breadcrumb-styled li:first-child a:before {
  border: none;
}
.breadcrumb-styled li:last-child a {
  padding-right: 15px;
  border-radius: 0 4px 4px 0;
}
.breadcrumb-styled li a:before,
.breadcrumb-styled li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #e1e1e1;
  border-width: 15px 10px;
  width: 0;
  height: 0;
}
.breadcrumb-styled li a:before {
  left: -20px;
  border-left-color: transparent;
}
.breadcrumb-styled li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #e1e1e1;
}
.breadcrumb-styled li a:hover {
  color: #333;
}
.breadcrumb-styled li a:focus {
  color: #333;
}
.breadcrumb-styled li.active a {
  color: #333;
}
.breadcrumb-styled li a .fa {
  padding-right: 7px;
}


.notify {

    margin-top: 10px;
    width: 30px; height: 30px;
}

input[type='text']{background: #fff;}
.notify .ring {
    position: absolute;
    top: -19px;
    right: -9px;
    height: 24px;
    width: 24px;
    z-index: 10;
    border: 5px solid #d9534f;
    border-radius: 100%;
     -moz-animation: ring 1s ease-in;
 -moz-animation-iteration-count: infinite;
-o-animation: ring 1s ease-in;
-o-animation-iteration-count: infinite;
-webkit-animation: ring 1s ease-in;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;  
}


.notify .ring-point {
    width: 6px;
    height: 6px;
    top: -10px;
/*     position: absolute;
right: -6px;
top: -10px; */
}

@-webkit-keyframes ring {
 

0% {
    -webkit-transform: scale(0);
    opacity: 0;
}
25% {
    -webkit-transform: scale(.1);
    opacity: .1;
}
50% {
    -webkit-transform: scale(.5);
    opacity: .3;
}
75% {
    -webkit-transform: scale(.8);
    opacity: .5;
}
100% {
    -webkit-transform: scale(1);
    opacity: 0;
}}


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-default{box-shadow: inset 0 1px 1px rgba(0,0,0,.075);border-radius: 4px;}
.input-default[disabled], .input-default[readonly]{
    background-color: #eee;
    opacity: 1;
    cursor: not-allowed;
}
.popover-modal{display: block;margin-left: inherit;}
.popover-modal{border-top-left-radius: 4px;border-bottom-left-radius: 4px;overflow: hidden;box-shadow: -1px 0px 5px #333;}
.popover-animate{top: 0px; right:-1000px; margin-top: 0px; margin-right: 0px; left: inherit; width: 700px; height: 100%; display: block;}
.popover-modal-body{width:700px!important; height:auto!important; top:50px!important;bottom:60px!important;  overflow-y: auto!important; position:absolute}
.border-default{ border: 1px solid #ddd;}
#side li ul li span{color: #adb5bd;cursor: pointer;}
/* #side li ul li span{color: #585C5D;cursor: pointer;} */