.checkbox-default {
  background: url(../images/checkbox-default.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.checkbox-active {
  background: url(../images/checkbox-active.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.checkbox-disable {
  background: url(../images/checkbox-disable.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.radio-default {
  background: url(../images/radio-default.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.radio-active {
  background: url(../images/radio-active.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.radio-disable {
  background: url(../images/radio-disable.png);
  width: 20px;
  height: 20px;
  background-size: 20px;
  cursor: pointer;
}
.input-default {
  width: 250px;
  height: 32px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0px 10px;
}
.input-default:focus {
  border: 1px solid #66afe9;
}
.input-warning {
  width: 250px;
  height: 32px;
  background: #FDF6F7;
  border: 1px solid #E0302F;
  border-radius: 3px;
  padding: 0px 10px;
}
.input-disable {
  width: 250px;
  height: 32px;
  background: #F6F6F6;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 0px 10px;
  color: #D2CCCC;
}
.input-h28 {
  height: 28px;
}
.input-h29 {
  height: 29px;
}
.input-h30 {
  height: 30px;
}
.input-h31 {
  height: 31px;
}
.input-h32 {
  height: 32px;
}
.input-h33 {
  height: 33px;
}
.input-h34 {
  height: 34px;
}
.input-h35 {
  height: 35px;
}
.input-h36 {
  height: 36px;
}
.input-h37 {
  height: 37px;
}
.input-h38 {
  height: 38px;
}
.input-h39 {
  height: 39px;
}
.input-h40 {
  height: 40px;
}
.input-h41 {
  height: 41px;
}
.input-h42 {
  height: 42px;
}
.input-h43 {
  height: 43px;
}
.input-h44 {
  height: 44px;
}
.input-h45 {
  height: 45px;
}
.input-h46 {
  height: 46px;
}
.input-h47 {
  height: 47px;
}
.input-h48 {
  height: 48px;
}
.input-h49 {
  height: 49px;
}
.input-h50 {
  height: 50px;
}
.search-group .search-button {
  border-radius: 0;
  padding: 1px 10px;
}
.search-group .search-button-ico {
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
  padding: 7px;
  color: #ccc;
  cursor: pointer;
}
.search-group .search-right {
  border-radius: 0;
  float: right;
  padding: 1px 10px;
}
.search-group .border-left {
  border-radius: 0;
  border-left: 0px;
}
.search-group .border-right {
  border-radius: 0;
  border-right: 0px;
}
