/** EXAMPLE
  <label class="switch-on-off">
    <input type="checkbox" />
    <span data-on="1" data-off="0"></span>
  </label>
**/
/* line 17, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000317}}
.switch-on-off {
  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 0 5px 0;
}
/* line 27, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000327}}
.switch-on-off,
.switch-on-off:after,
.switch-on-off:before,
.switch-on-off *,
.switch-on-off *:after,
.switch-on-off *:before,
.switch-on-off + .switch-on-off-btn {
  box-sizing: border-box;
}
/* line 31, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000331}}
.switch-on-off::-moz-selection,
.switch-on-off:after::-moz-selection,
.switch-on-off:before::-moz-selection,
.switch-on-off *::-moz-selection,
.switch-on-off *:after::-moz-selection,
.switch-on-off *:before::-moz-selection,
.switch-on-off + .switch-on-off-btn::-moz-selection {
  background: none;
}
.switch-on-off::selection,
.switch-on-off:after::selection,
.switch-on-off:before::selection,
.switch-on-off *::selection,
.switch-on-off *:after::selection,
.switch-on-off *:before::selection,
.switch-on-off + .switch-on-off-btn::selection {
  background: none;
}
/* line 36, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000336}}
.switch-on-off span {
  position: relative;
  display: block;
  height: 1.8em;
  line-height: 1.2em;
  overflow: hidden;
  font-weight: normal;
  text-align: center;
  border-radius: 2em;
  padding: 0.2em 1em;
  border: 1px solid #fafafa;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.7);
  -webkit-transition: color 0.3s ease, padding 0.3s ease-in-out, background 0.3s ease-in-out;
          transition: color 0.3s ease, padding 0.3s ease-in-out, background 0.3s ease-in-out;
}
/* line 56, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000356}}
.switch-on-off span:before {
  position: relative;
  display: block;
  line-height: 1.3em;
  padding: 0 0.2em;
  font-size: 1em;
}
/* line 64, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000364}}
.switch-on-off span:after {
  position: absolute;
  display: block;
  content: '';
  border-radius: 2em;
  width: 1.3em;
  height: 1.3em;
  margin-left: -1.45em;
  top: 0.2em;
  background: #ffffff;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 0.97), background 0.3s ease-in-out;
          transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 0.97), background 0.3s ease-in-out;
}
/* line 82, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000382}}
.switch-on-off input[type="checkbox"] {
  display: none;
}
/* line 88, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000388}}
.switch-on-off input[type="checkbox"]:not(:checked) + span {
  background: #de474e;
  color: #ffffff;
  padding-left: 1.6em;
  padding-right: 0.4em;
}
/* line 93, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000393}}
.switch-on-off input[type="checkbox"]:not(:checked) + span:before {
  content: attr(data-off);
  color: #ffffff;
}
/* line 97, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\0000397}}
.switch-on-off input[type="checkbox"]:not(:checked) + span:after {
  background: #ffffff;
  left: 1.6em;
}
/* line 106, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003106}}
.switch-on-off input[type="checkbox"]:checked + span {
  background: #86d993;
  color: #ffffff;
  padding-left: 0.4em;
  padding-right: 1.6em;
}
/* line 111, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003111}}
.switch-on-off input[type="checkbox"]:checked + span:before {
  content: attr(data-on);
}
/* line 114, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003114}}
.switch-on-off input[type="checkbox"]:checked + span:after {
  background: #ffffff;
  left: 100%;
}
/* line 122, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003122}}
.switch-on-off input[type="checkbox"]:disabled,
.switch-on-off input[type="checkbox"]:disabled + span,
.switch-on-off input[type="checkbox"]:read-only,
.switch-on-off input[type="checkbox"]:read-only + span {
  cursor: not-allowed;
}
/* line 133, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003133}}
.switch-on-off-gray input[type="checkbox"]:not(:checked) + span {
  background: #e3e3e3;
  color: #999999;
}
/* line 136, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003136}}
.switch-on-off-gray input[type="checkbox"]:not(:checked) + span:before {
  color: #999999;
}
/* line 139, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003139}}
.switch-on-off-gray input[type="checkbox"]:not(:checked) + span:after {
  background: #ffffff;
}
/* line 147, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003147}}
.switch-on-off-inline {
  display: inline-block !important;
  vertical-align: top;
}
/* line 151, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003151}}
.switch-on-off-inline.switch-on-off {
  font-size: 16px;
}
/* line 153, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003153}}
.switch-on-off-inline.switch-on-off span {
  min-width: 50px;
}
/* line 155, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003155}}
.switch-on-off-inline.switch-on-off span:before {
  line-height: 1.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
/* line 165, switch-on-off.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/huanglongjiang\/huanglongjiang\/筑想-2016\/zx-ui-demo\/less\/less\/switch-on-off\.less}line{font-family:\00003165}}
.switch-on-off-inline-label {
  display: inline-block !important;
  vertical-align: top;
  line-height: 26px;
}
/*# sourceMappingURL=switch-on-off.css.map */