.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-top {
  vertical-align: text-top;
}
.align-bottom {
  vertical-align: text-bottom;
}
.a-default {
  color: #999999;
}
.a-primary {
  color: #1D9CE8;
}
.a-danger {
  color: #B01D2D;
}
.a-warning {
  color: #FC9700;
}
.a-success {
  color: #54B6AC;
}
.a-disable {
  color: #CCCCCC;
}
.color-default {
  color: #999999;
}
.color-primary {
  color: #1D9CE8;
}
.color-danger {
  color: #B01D2D;
}
.color-warning {
  color: #FC9700;
}
.color-success {
  color: #009DD9;
}
.color-disable {
  color: #CCCCCC;
}
.color-star {
  color: #f00;
}
.color-white {
  color: #fff;
}
.tag-danger {
  background: #E0302F;
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  color: #fff;
}
.tag-warning {
  background: #FDC000;
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  color: #fff;
}
.tag-success {
  background: #54B6AC;
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  color: #fff;
}
.tag-default {
  background: #CCCCCC;
  display: inline-block;
  padding: 4px 6px;
  font-size: 12px;
  color: #fff;
}
.news-danger {
  background: #FDF6F7;
  border: 1px solid #F2B2B9;
  color: #E0302F;
  width: 400px;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
}
.news-warning {
  background: #FFF8E0;
  border: 1px solid #FDC000;
  color: #FC9700;
  width: 400px;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
}
.news-success {
  background: #E1F2F1;
  border: 1px solid #54B6AC;
  color: #1C9688;
  width: 400px;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
}
